
.header{
    padding: 0px;
    margin: auto;
    width: 200px;
    height:25px;
    background-color: yellowgreen;
}

     #cajadatos {
        position: relative;
        border: 5px solid #ccc;
        padding: 10px;
        margin:auto;
        width: 720px;
        height: 600px;
        overflow: auto;
    }
    #cajaMain{
        position: relative;
        border: 1px solid #ccc;
        padding: 10px;  
        height: 640px; 
        margin: auto;
        width: 750px;
        background-color: rgb(65, 65, 60);
        border: 8px groove yellowgreen;
        top:-370px;
        left: -20px;
    }
    #casilla{
        width: 80px;
        height: 68px;
        text-align: center;
        border: 1px groove yellowgreen;
        margin: 2px;
    }
.fill1{
        cursor:pointer;
        position:relative;
        height: 68px;
        width:80px;
        background-color: chartreuse;
}
.fill2{
    cursor:pointer;
    position:relative;
    height: 68px;
    width:80px;
    background-color: gold;
}
.fill3{
    cursor:pointer;
    position:relative;
    height: 68px;
    width:80px;
    background-color: red;
}
.fill4{
    cursor:pointer;
    position:relative;
    height: 68px;
    width:80px;
    background-color: blue;
}


#LocetasUno{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;  
    height: 80px; 
    margin: auto;
    width: 100px;
    background-color: rgb(206, 195, 195);
    border: 8px groove yellowgreen;
    float: right;
    right: 920px;
    top:30px;
}
#LocetasDos{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;  
    height: 80px; 
    margin: auto;
    width: 100px;
    background-color: rgb(206, 195, 195);
    border: 8px groove yellowgreen;
    float: right;
    right: 785px;
    top:150px;
}
#espacioLocetas{
    cursor:pointer;
    position:relative;
    height: 68px;
    width:80px;
}
#LocId1{
    position: relative;
    margin: auto;
    width:100px;
    height: 80px;
}
#LocId2{
    position: relative;
    margin: auto;
    width:100px;
    height: 80px;
}


   #marcador1{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;  
    height: 80px; 
    margin: auto;
    width: 200px;
    background-color: #ffb;
    border: 8px groove yellowgreen;
    float: right;
    
   }
   #marcador2{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;  
    height: 80px; 
    margin: auto;
    width: 200px;
    background-color: rgb(33, 40, 46);
    border: 8px groove yellowgreen;
    float: right;
    left: 20px;
   }
   #marcador3{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;  
    height: 80px; 
    margin: auto;
    width: 200px;
    background-color: darkolivegreen;
    border: 8px groove yellowgreen;
    float: right;
    top: 90px;
    left: 20px;
   }
   #marcador4{
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;  
    height: 80px; 
    margin: auto;
    width: 200px;
    background-color: rgb(252, 255, 85);
    border: 8px groove yellowgreen;
    float: right;
    top: 180px;
    left: 20px;
   }
   #mazo1{
       position: relative;
       margin: auto;
       top: 0px;
       width:100px;
       height: 80px;
   }

   #mazo2{
    position: relative;
    margin: auto;
    top: 0px;
    width:100px;
    height: 80px;
}
#mazo3{
    position: relative;
    margin: auto;
    top: 0px;
    width:100px;
    height: 80px;
}
#mazo4{
    position: relative;
    margin: auto;
    top: 0px;
    width:100px;
    height: 80px;
}

   .button{
       position: relative;
       border-radius: 25px;
       left:10px;
        top:-30px;
       background-color: #CB4335;
       width:150px;
       height: 30px;
   }
   .btnGiro{
        position: relative;
        border-radius: 25px;
        left:-105px;
        top:-70px;
       background-color: #CB4335;
       width:70px;
       height: 30px;
   }
   .btnFinish{
    position: relative;
    border-radius: 25px;
    left:845px;
     top:-80px;
    background-color: #CB4335;
    width:150px;
    height: 30px;
   }
   #h3{
       color:black;
   }
                #Cabezas{
                    position: relative;
                    color:rgb(206, 195, 195);
                    size: 40px;
                    margin-right: 1200px;
                    top:250px;
                    background-color: black;
                }
                #Cabezas2{
                    position: relative;
                    color:rgb(206, 195, 195);
                    size: 40px;
                    left:100px;
                    top: 200px;
                    margin-right: 1200px;
                    background-color: black;
                }
                #Monedas{
                    position: relative;
                    color:rgb(206, 195, 195);
                    size: 40px;
                    margin-right: 1200px;
                    top:250px;
                    background-color: black;
                }
                #Monedas2{
                    position: relative;
                    color:rgb(206, 195, 195);
                    size: 40px;
                    left:100px;
                    top: 200px;
                    margin-right: 1200px;
                    background-color: black;
                }
                #Cacaos{
                    position: relative;
                    color:rgb(206, 195, 195);
                    size: 40px;
                    margin-right: 1200px;
                    top:250px;
                    background-color: black;
                }
                #Cacaos2{
                    position: relative;
                    color:rgb(206, 195, 195);
                    size: 40px;
                    left:100px;
                    top: 200px;
                    margin-right: 1200px;
                    background-color: black;
                }

  