
.header{
    padding: 0px;
    margin: auto;
    width: 200px;
    height:25px;
    background-color: yellowgreen;
}
/*
*{ 
font:Arial;
     }
     */

     #cajadatos {
        position: relative;
        border: 5px solid #ccc;
        padding: 10px;
        margin:auto;
        width: 95%;
        height: 460px;
        overflow: auto;
        top:-80px;
    }
    #cajaMain{
        position: relative;
        border: 1px solid #ccc;
        padding: 10px;  
        height: auto; 
        margin: auto;
        width: 700px;
        background-color: #ffb;
        border: 8px groove yellowgreen;
    }
    #casilla{
        width: 130px;
        height: 68px;
        text-align: center;
        border: 1px groove yellowgreen;
        
    }
.fill{
        background-image: url('http://source.unsplash.com/random/70x130');
        cursor:pointer;
        position:relative;
        height: 70px;
        width:130px;
}

.empty{
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 3px salmon solid;
    background-color: whitesmoke;
}

   #marcador1{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;  
    height: 80px; 
    margin: auto;
    width: 200px;
    background-color: #ffb;
    border: 8px groove yellowgreen;
    float: right;
   }
   #marcador2{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;  
    height: 80px; 
    margin: auto;
    width: 200px;
    background-color: rgb(33, 40, 46);
    border: 8px groove yellowgreen;
    float: right;

    top:140px;
    left:238px;
   }